*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    width: 100%;
}


:root
{
    --image-width: 250px;
    --image-height: 350px;
}

.nav-bar
{
    width: 95%;
    padding: 5px 15px;
    display: flex;
}

.nav-center
{
    position: relative;
    width: 100%;
    padding: 15px;

    color: black;
    background-color: white;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}


.logo
{
    color: black;
    background: transparent;
    border: black 2px solid;
    display: inline-block;

    width: 154px;
    height: auto;

    text-align: center;
    font-size: 2rem;
}


.artist-name
{

    width: 350px;
    height: 100px;
    justify-self: center;

    text-align: center;
    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

}


.artist-name p
{
    color: black;
}


.home-btn
{
    width: 60px;
    height: 70px;
    padding: 5px;

    font-size: 1rem;
    background-color: transparent;
    border-radius: .75rem;
    position: static;
}


.main-body
{
    width: 85%;
    height: auto;
    margin:auto;

    background-color: white;
    

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto;
    /* grid-template-rows: repeat(3, auto); */
    row-gap: 50px;
    column-gap: 50px;
    padding: 40px;
}

.img-container
{
    position: relative;

    height: auto;
    width: var(--image-width);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);

}

.img-wrapper
{
    
    height: var(--image-height);
    width: var(--image-width);
}


.img-wrapper img
{
    height: var(--image-height);
    width: var(--image-width);
}

.img-container p
{
    text-align: center;
    font-size: 1rem;
}

.filter-div
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

    height: var(--image-height);
    width: var(--image-width);

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.filter-div p
{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.modal
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.6);

    display: none;
}

.show
{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.close-btn
{
    position: fixed;
    top: 15px;
    right: 15px;

    font-size: 2.5rem;
    background-color: transparent;
    border: none;
}

.close-btn i
{
    background-color: transparent;
    color: white;
}


.modal-center
{
    width: 85%;
    height: 85%;

    border: white 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    background-color: rgba(255, 255, 255, 0.8);
}

.modal img
{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.info-div
{
    background-color:  rgba(30, 144, 255, 0.4);
    color: white;
    padding: 20px;

    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.info-div p
{
    font-size: 1.25rem;
}


.info-div span
{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}


.dropdown-container
{
    background-color: lightgrey;
    color: darkblue;
}


.dropdown
{
    border: black 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3px;
    padding-right: 3px;

    
}


.dropdown-container ul
{
    list-style-type: none;
    border: black 1px solid;
    display: none;
}

.show-menu
{
    display: block !important;
}


.dropdown-container li
{
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;

    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}


.dropdown-container li:hover
{
    background: dodgerblue;
    color: black;
}

@media screen and (max-width: 330px)
{
    .nav-center
    {
        margin-left: auto;
    }

    .logo
    {
        font-size: 1.25rem;
        width: auto;
        padding: 2px;
    }

    .home-btn
    {
        font-size: 0.75rem;
        width: 45px;
        height: 55px;
        padding: 5px;
    }

    .artist-name
    {
        font-size: 2.5rem;
    }

    .main-body
    {
        grid-template-columns: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 450px)
{
    .nav-center
    {
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: 100px 100px;
        grid-template-areas: 
            "logo logo logo home-btn"
            "artist-name artist-name artist-name artist-name"
    }

    .logo
    {
        grid-area: logo;
        justify-self: left;
        font-size: 1.5rem;
    }

    .artist-name
    {
        grid-area: artist-name;
        font-size: 2.5rem;
    }

    .home-btn
    {
        grid-area: home-btn;
        justify-self: right;
        font-size: 0.85rem;
        width: 55px;
        height: 65px;
        padding: 5px;
    }

    .main-body
    {
        margin-top: 10px;
        padding-top: 15px;
    }
}



@media screen and (min-width: 575px)
{
    .main-body
    {
        grid-template-columns: auto auto;
        position: static !important;
    }

    .modal-center
    {
        flex-direction: column;
        row-gap: 20px;
    }
}


@media screen and (min-width: 875px)
{
    .main-body
    {
        grid-template-columns: repeat(3, auto);
    }
}